.row {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.rowTwo {
  display: flex;
  margin-top: 2rem;
}
.text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 70px;
}
